<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.quiz">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.d3ifcool.quiz.LoginActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme2">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="org.d3ifcool.quiz.RegisterActivity"
            android:label="Sign Up"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.d3ifcool.quiz.MainActivity" />
        </activity>
        <activity
            android:name="org.d3ifcool.quiz.QuizActivity"
            android:label="Soal Quiz"

            android:screenOrientation="locked">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.d3ifcool.quiz.MainActivity" />

        </activity>
        <activity
            android:name="org.d3ifcool.quiz.MainActivity"
            android:label="Menu Utama"
            android:screenOrientation="locked" />


    </application>

</manifest>